.maskLayer .uiDocumentPreview .previewBtn .remoteEditBtn, .maskLayer .uiDocumentPreview .previewBtn .onlyOfficeEditBtn {
  float: right;
  padding-left: 15px;
}

.maskLayer .uiDocumentPreview .previewBtn .onlyOfficeEditBtn .uiIconEcmsOnlyofficeOpen {
  color: #ffffff;
}

.detailContainer .editOnlineBtn {
  margin-left: 6px !important;
}