.onlyofficeEditorBody {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.onlyofficeEditorBody #RightBody, .onlyofficeEditorBody .onlyofficeContainer>.editor {
  height: calc(100vh - 35px);
  display: table;
  width: 100%;
}

.onlyofficeEditorBody #editor-top-bar-loader {
  position: absolute;
  width: 100%;
  height: 35px;
  background-color: white;
  z-index: 100;
}
.onlyofficeEditorBody #editor-top-bar {
  display: flex;
  height: 25px;
  background-color: #FFF;
  padding: 5px 10px;
}

.onlyofficeEditorBody #editor-top-bar div {
  display: table-cell;
  vertical-align: baseline;
}

.onlyofficeEditorBody #editor-top-bar .eip-editable,
.onlyofficeEditorBody #editor-top-bar div.form-group {
  height: 25px;
  margin: 0;
}

.onlyofficeEditorBody #editor-top-bar[rel=tooltip] {
  height: 0 !important;
  color: inherit;
  text-decoration: inherit;
}

.onlyofficeEditorBody #save-btn {
  position: relative;
  top: 1px;
}

.onlyofficeEditorBody #editor-top-bar .comment input,
.onlyofficeEditorBody  #editor-top-bar .document-title {
  margin: 0;
  height: 25px !important;
}

.onlyofficeEditorBody #editor-top-bar .comment input {
  margin-top: -4px;
}


.onlyofficeEditorBody  #editor-top-bar .document-title {
  width: auto !important;
}

.onlyofficeEditorBody #editor-top-bar .last-edited,
.onlyofficeEditorBody #editor-top-bar .editors-comment,
.onlyofficeEditorBody #editor-top-bar .comment {
  padding-left: 20px;
}

.onlyofficeEditorBody #editor-top-bar .editors-comment {
  font-style: italic;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  padding-right: 6px;
}

.onlyofficeEditorBody #editor-top-bar .editors-comment:not(:empty):before {
    content: "\"";
}

.onlyofficeEditorBody #editor-top-bar .editors-comment:not(:empty):after {
    content: "\"";
    position: absolute;
    top: 0;
    right: 1px;
}

.onlyofficeEditorBody  #editor-top-bar #save-btn {
  display: inline-block;
  cursor: pointer;
  margin-right: 25px;
}

.onlyofficeEditorBody  #editor-top-bar .close-btn {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 7px;
}

.onlyofficeEditorBody #editor-top-bar .document-path {
  padding-right: 5px;
}

.onlyofficeEditorBody .RightBodyTDContainer {
  padding-top: 0px;
}

.maskLayer .onlyofficeEditorClose .uiIconClose {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.maskLayer .onlyofficeEditorClose .uiIconClose:before {
  color: #ffffff !important;
}

.maskLayer .onlyofficeEditorClose .uiIconClose:hover {
  color: #ffffff !important;
}

#UIDocumentWorkspace .fileContent .content {
  text-align: left;
}

.onlyofficeContainer>#editor, .onlyofficeContainer>.editor {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 665px;
}

.onlyofficeContainer>.loading {
  width: 100%;
  height: 100%;
  position: relative;
  border: 0px;
  min-width: 665px;
  min-height: 550px;
  margin-bottom: 15px;
}

.ui-pnotify.onlyoffice-notification {
  top: 70px !important;
}

.onlyofficeContainer>#editor>iframe, .onlyofficeContainer>.editor>iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.waitThrobber {
  display: inline-block;
  width: 50%;
  height: 320px;
  margin-right: auto;
  margin-left: auto;
  pointer-events: none;
  background: url('icons/oxygen/32/animations/throbber.gif') no-repeat left center !important; /* orientation=lt */
  background: url('icons/oxygen/32/animations/throbber.gif') no-repeat right center !important; /* orientation=rt */
}

/***** Disabled styles *******/
.editorDisabled {
  opacity: .6
}

/******** Pnotify icons ********/
.picon-32.picon-task-complete {
  background-image: url("icons/oxygen/32/status/task-complete.png")
}

.picon-32.picon-throbber {
  background-image: url("icons/oxygen/32/animations/throbber.gif")
}

.picon-32.picon-dialog-error {
  background-image: url("icons/oxygen/32/status/dialog-error.png")
}

.picon-32.picon-dialog-information {
  background-image: url("icons/oxygen/32/status/dialog-information.png")
}

.picon-32.picon-dialog-warning {
  background-image: url("icons/oxygen/32/status/dialog-warning.png")
}

.picon-32.picon-process-stop {
  background-image: url("icons/oxygen/32/actions/process-stop.png")
}

.picon.picon-task-complete {
  background-image: url("icons/oxygen/16/status/task-complete.png")
}

.picon.picon-throbber {
  background-image: url("icons/oxygen/16/animations/throbber.gif")
}

.picon.picon-dialog-error {
  background-image: url("icons/oxygen/16/status/dialog-error.png")
}

.picon.picon-dialog-information {
  background-image: url("icons/oxygen/16/status/dialog-information.png")
}

.picon.picon-dialog-warning {
  background-image: url("icons/oxygen/16/status/dialog-warning.png")
}

.picon.picon-process-stop {
  background-image: url("icons/oxygen/16/actions/process-stop.png")
}